* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.navlinks > a {
  text-decoration: none;
  padding: 5px;
  color: #4D4D4D;
  font-weight: 600;
  background: #FFF7ED;
  padding: 10px;
}

.navlinks > a:hover{
  font-weight: 700;
}

.vanlife {
  font-size: 1.5em;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

  
.navbar {
  font-family: "Inter", sans-serif;
  background: #FFF7ED;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px; 
}

.homepage-container {
position: relative; /* Container should be relatively positioned */
}

.homepage-image {
width: 100%;
height: 100%;
object-fit: cover; /* To ensure the image covers the entire container */
}

.homepage-content {
position: absolute;
z-index: 1; /* Ensure the content is above the image */
padding: 2em; /* Add some padding for spacing */
color: #fff;
}

.homepage-content > p {
  font-weight: 300;
  font-size: 16px;
  
}

.homepage-content > button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #FF8C38;
  color: white;
  border: none;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  border-radius: 5px
}

.about-text {
  margin: 20px;
  margin-top: 30px;
}

.orange-box {
  background-color: #FFCC8D;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
}

.orange-box > h2 {
  line-height: .5
}


.orange-box > button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #FF8C38;
  color: #000;
  border: none;
  width: 35%;
  margin-top: 25px;
  padding: 10px;
  border-radius: 5px
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #aaa;
  background-color: #252525;
  font-size: 14px;
}